<h3>Consent to Participate in a Research Study</h3>

<br>

<p>
<ul style="list-style-type: none;">
<li><b>Research Project Title</b>: Measuring and Supporting File Management on Google Drive</li>
<li><b>Principal Investigator</b>: Blase Ur</li>
<li><b>Graduate Student</b>: Will Brackenbury</li>
<li><b>Sponsor</b>: National Science Foundation</li>
<li><b>IRB Protocol #</b>: IRB20-1671</li>
</ul>
<p>

<br>

<p><h4>Purpose of Research Study</h4>
You are being asked to participate in a research study about users’ management and
organizational strategies for files in their Google Drive accounts. The purpose of this research
study is to determine whether recommendations can assist file management activities in
personal cloud storage. Ultimately, this research may be published and presented at scientific
conferences to improve the community’s knowledge about file management and organization in
personal cloud storage. You are encouraged to ask any questions about the information in the
consent form using the contact information below before consenting to the research.</p>

<p>Prolific workers who have a 95%+ approval rating, have more than 10 submissions,
  who are age 18+ and live in the United States are eligible.
  In addition, you must have a Google Drive account that was created at least 3 months ago.
  The account must contain 100 or more files.
</p>

<br>

<p><h4>Participation Procedures and Activities</h4>
In Part 1 of this study, you will answer some questions about your experience with personal
cloud storage and provide demographic information. Additionally, in order to enable some
functionality in Part 2 of the study, we ask you to log in to your Google Drive account and give
permission for our application to perform an automated scan. We do not store file content:
however, file names, folder names, objects recognized in images, and some words from
documents are saved in order to study the links between types of files and management
strategies. We also ask for permission to view your Google Drive activity history, and store data
about the types of actions you took at what times, as well as what files you acted upon. We will
never have access to your password, and we do not store your username in the course of our
study. You can read more about how Google allows third parties to access your account, and
how you can manage this access <a href="https://support.google.com/accounts/bin/answer.py?
hl=en&answer=143031" target="_blank">here</a>. For images stored in your account, we may use software provided by
the Google Vision API. It is the policy of the Google Vision API not to access or use data provided
to them except for the purposes of performing offered services
(<a href="https://cloud.google.com/terms/" target="_blank">Google Cloud Terms</a>). We save information about the types of objects the
software recognized (e.g., whether there appears to be a kite in the photo), but we do not save
the files themselves.</p>

<p>Part 1 takes 15 minutes on average and you will be compensated $2.50 for its completion.</p>

<p>If you meet the eligibility criteria, you may be invited to Part 2 of the study. In Part 2, we ask you
to organize your Google Drive account in a sandbox environment using our custom file
management interface. <u>Changes in the sandbox environment have no effect on your Google
Drive account</u>. We also ask you several questions about your experiences using the interface.
Part 2 takes 1 hour on average and you will be compensated $10 for its completion.</p>

<p>Due to the difficulty of determining credit for partial completion, no compensation will be provided for partial completion. This applies to both Part 1 and Part 2. However, compensation is awarded separately—full completion of Part 1 will result in full compensation for that part, regardless of the partial or full completion status of Part 2.</p>

<br>

<p><h4>Risks/Discomforts of Being in this Study</h4>
As with any online service, there is a chance that a malicious user can “take over” the service in question without your knowledge; although unlikely, a breach of our service would allow that user full access to the cloud storage accounts of anyone actively using our service. We follow security best practices, and you can limit or remove our service’s access to your account at any time as detailed above. Aside from this, the risks to your participation in this online study are
those associated with basic computer tasks, including boredom, fatigue, mild stress, or breach of confidentiality.</p>

<br>

<p><h4>Benefits of Being in this Study</h4>
The only benefit to you is the learning experience from participating in a research study. The benefit to society is the contribution to scientific knowledge.</p>

<br>

<p><h4>Confidentiality of Data and Limits to Confidentiality</h4>
Your Prolific ID will be used to distribute payment to you. Please be aware that your Prolific ID can potentially be linked to information about you, depending on your profile settings. We will not be accessing any personally identifying information about you that you may have put on your Prolific profile page.</p>

<p>Any reports and presentations about the findings from this study will not include your name or any other information that could identify you. The data will be stored temporarily on a secure server at the University of Chicago, and then analyzed and archived indefinitely on the secure research and development server of the <a href="https://super.cs.uchicago.edu" target="_blank">SUPERgroup</a> research lab at the University of Chicago.</p>

<br>

<p><h4>Use of Your Research Data</h4>

  Your study data consists of:</p>

  <ol>
    <li>Answers to survey questions for both Part 1 and Part 2</li>
    <li>Metadata about files (e.g., file name, file size, file location within the folder hierarchy)</li>
    <li>Data computed from file content (e.g., keywords in file, objects recognized in images,
      names of data table headers, similarity of content between files)</li>
    <li>Record of previous activity in Google Drive</li>
    <li>Records of actions recorded during the organizational task in Part 2</li>
  </ol>


<p>
These data components may be analyzed and published in scientific conference proceedings in
aggregate form. The free-text responses you provide to any portion of the surveys in this study
may be quoted in part or in whole in this publication. We will remove any information from this
analysis that could identify you before providing the analysis for publication.
</p>

<p>
To improve research in file management, we further ask permission to anonymize your study
data and include it in a reference dataset that may be shared with researchers at other
institutions. You are NOT required to provide permission for your data to be included in this
anonymized dataset in order to continue with the study. If you choose not to offer permission,
there will be no repercussions for you, nor will your compensation for this study be affected in
any way.
  </p>

<br>

<p><h4>GDPR Rights Respecting Your Study Data</h4>

  If you reside in the European Economic Area during your participation in the study, the GDPR
gives you certain rights with respect to your study data. You have the right to request access to,
rectification, or erasure of, your study data. You also have the right to object to or restrict our
processing of your study data. Finally, you have a right to request that we move, copy, or
transfer your study data to another organization. In order to make any such requests, please
contact the persons or entities listed below.</p>

<br>

<p><h4>Voluntary Participation and Right to Refuse or Withdraw</h4>
Participation in this study is voluntary. The decision to participate in this study is entirely up to
you. You may refuse to take part in the study at any time without prejudice or penalties to you
and will not result in any loss of benefits to which you are otherwise entitled. If you withdraw
your consent, this will not affect the lawfulness or our collecting, use, and sharing of your study
data up to the point in time that you withdraw your consent. Even if you withdraw your
consent, we may still use or maintain your study data that identifies you to comply with our
legal and regulatory requirements.</p>

<br>

<p><h4>Contact Information for Research Questions and Participation</h4>
Any questions you have about the research or the other information in this consent form may be directed to any of the below.</p>

<p><u>Institutional Review Board</u></p>
<p>Social and Behavioral Sciences Institutional Review Board</p>
<p>University of Chicago</p>
<p>Telephone: 773-702-2915</p>
<p>Email sbs-irb@uchicago.edu</p>
<br>

<p><u>Principal Investigator</u>
<p>Blase Ur, Assistant Professor</p>
<p>John Crerar Library</p>
<p>University of Chicago</p>
<p>5730 S Ellis Ave</p>
<p>Chicago, IL 60637</p>
<p>Email: blase@uchicago.edu</p>

<br>

<p><u>Graduate Student</u></p>
<p>Will Brackenbury, PhD student</p>
<p>John Crerar Library</p>
<p>University of Chicago</p>
<p>5730 S Ellis Ave</p>
<p>Chicago, IL 60637</p>
<p>Email: wbrackenbury@uchicago.edu</p>
