<link rel="stylesheet" href="css/modern-skin.css" type="text/css" />

<div class="instruction-header">
    <h3>Welcome!</h3>
</div>

<div class="instruction-body">

In a moment, you will be directed to an interface for organizing your Google Drive account. This interface will likely look familiar to other file-management interfaces you have used. This interface will display the files in your personal Google Drive account.

<br></br>

We ask that you spend approximately <b><u>30 minutes organizing your Google Drive account</u></b> using this interface. Your actions may include creating new folders, moving files to different folders, deleting files and folders, or renaming files and folders.

<br></br>

This activity occurs in a simulated environment. This means that <b><u>none of the activities performed during the study in this interface will have any effect on your actual Google Drive account</u></b>.

<br></br>

After you have finished, we will ask you questions about the actions you took. You can now navigate to the next part of the study by clicking the button below.

</div>
